version: '3.8'

services:
  db:
    image: postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password123
    ports:
      - "5434:5432"
    volumes:
      - ./data:/tmp/dumps
    networks:
      - db-network

networks:
  db-network:
    driver: bridge
